@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    align-items: flex-start;
}

/*Menu*/
.menu{
    width: 20%;
    height: 100vh;
    display: flex;
    align-items: self-start;
    justify-content: space-between;
    flex-direction: column;
    background-color: #000;
    padding: 10px;
    border-right: 1px solid #626262;
}

.menu h2{
    font-size: 2rem;
    color: #ffffff;
    margin-top: 30px;
    margin-left: 20px;
    font-family: 'Dancing Script';
}

.menu li{
    width: 260px;
    height: 50px;
    border-radius: 5px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    transition-duration: 0.5s;
    padding: 0 10px;
    margin-bottom: 10px;
}

.menu li:hover{
    background-color: rgb(23, 23, 23);
}

.menu i{
    font-size: 1.8rem;
    margin-right: 10px;
    color: #ffffff;
}

.menu a{
    color: #ffffff;
    font-size: 1.0rem;
    text-decoration: none;
}

.menu button{
    width: 260px;
    height: 50px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.5s;
    padding: 0 10px;
}

.menu button:hover{
    background-color: rgb(23, 23, 23);
}

/*Banner*/
.banner{
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    gap: 2rem;
}

/*Foto*/
.foto{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #626262;
}

.foto img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/*Card*/
.card{
    width: 40%;
}

/*Info*/
.info{
    display: flex;
    align-items: center;
    justify-content: center;
}

.info h3{
    margin-right: 150px;
    color: #ffffff;
    font-weight: 400;
}

.info button{
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3f3f3f;
    margin-right: 5px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.5s;
}

.info button:hover{
    background-color: #626262;
}

.info2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 29px;
}

span{
    color: #818181;
}